
.article-title {
  background-color: #E0E1E2;
  padding: 0.01%;
}

.article-title-img {
  display: block;
  border-radius: 50%;
  height: 150px;
}

.article-related {
  background-color: grey;
}

.related-title-img {
  display: block;
  border-radius: 50%;
  height: 50px;
}

.article-body {
  padding-top: 10px;
  padding: 10px;
}

.article-background {
  top: 0px;
  position: fixed;
  background-color: #59C52F;
  height: 60%;
  width: 100%;
}
